<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        failOnRisky="true"
        failOnWarning="true"
        stopOnFailure="false"
        executionOrder="random"
>
    <testsuites>
        <testsuite name="LswMemcacheBundleTest Suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
            <directory>./Tests</directory>
            <directory>./Resources</directory>
        </exclude>
    </coverage>

</phpunit>
